.top-bg-color {
  background-color: #feee00;

  margin: auto;
}

.noon-logo {
  width: 100px;
  height: 45px;
}

@media only screen and (min-width: 993px) and (max-width: 5000px) {
  .bold-text-size {
    font-size: 16px;
  }
  .text-size {
    font-size: 13px;
  }
  .small-noon {
    display: none;
  }
  .large-noon {
    display: flex;
    overflow-x: auto;
  }
}
@media only screen and (min-width: 500px) and (max-width: 993px) {
  .bold-text-size {
    font-size: 15px;
  }

  .text-size {
    font-size: 13px;
  }
  .small-noon {
    display: flex;
  }
  .large-noon {
    display: none;
  }
}
@media only screen and (min-width: 150px) and (max-width: 500px) {
  .bold-text-size {
    font-size: 11px;
  }

  .text-size {
    font-size: 9px;
  }
  .small-noon {
    display: flex;
  }
  .large-noon {
    display: none;
  }
}
